---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,900italic|Crimson+Text:400,400italic,700,700italic);

// Our variables
$base-font-family: 'Crimson Text', Georgia, serif;
$base-font-size:   16pt;
$small-font-size:  $base-font-size * 0.875;
$code-font-size:   $base-font-size * 0.75;
$base-line-height: 1.5;

$title-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

$spacing-unit:     30px;
$title-font-skew:  10deg;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #b02c00;
$brand-background-color: #ffdc00;
$highlight-color:  #ebcf00;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
