---
layout: default
---

<div class="home">

  <img class="gravatar" alt="Josh Hill" src="https://s.gravatar.com/avatar/156bf66c7b3485d26323de2db86defce.jpg?s=400">

  <h1 class="page-heading">
    Hi! I'm <strong>{{ site.author }}</strong> coaching apprentices at
    <a href="https://makers.tech" title="Makers">Makers</a>.
    I enjoy people, stories* and thoughtful discussions.
  </h1>

  <p class="asterisk">
    *who is this
    <a href="https://commons.wikimedia.org/wiki/File:Carpaccio_V%C3%B6r%C3%B6ssapk%C3%A1sF%C3%A9rfi.jpg#mediaviewer/File:Carpaccio_V%C3%B6r%C3%B6ssapk%C3%A1sF%C3%A9rfi.jpg" title="Uomo col berretto rosso">Venetian in a red cap?</a>
  </p>

  <h2 class="latest-heading">Latest</h2>

  <ul class="post-list">
    {% for post in site.posts limit:6 %}
      {% include post-summary.html %}
    {% endfor %}
  </ul>

  <h3 class="page-heading">Not the Josh you expected?</h3>

  <div class="did-you-mean">
    <span>Did you mean:</span>

    <ul>
      <li>
        <a href="https://en.wikipedia.org/wiki/Josh_Hill_(racing_driver)" title="Josh Hill (racing driver)">Josh Hill</a>
        the racing driver, son of Damon Hill
      </li>

      <li>
        <a href="https://en.wikipedia.org/wiki/Josh_Hill_(footballer)" title="Josh Hill (footballer)">Josh Hill</a>
        the professional Aussie rules footballer
      </li>

      <li>
        <a href="https://en.wikipedia.org/wiki/Joshua_Hill_(Pitcairn_Island_leader)" title="Joshua Hill (Pitcairn Island Leader)">Joshua Hill</a>
        the adventurer and Pitcairn Island leader
      </li>
    </ul>
  </div>

</div>
