---
layout: default
---

<div class="home">

  <img class="gravatar" alt="Josh Hill" src="https://1.gravatar.com/avatar/7cecbb79a050705e3c95602e24a5ea9b33dd23888c85b6b1c19c8ebba0896730?size=400">

  <h1 class="page-heading">
    Hi! I'm <strong>{{ site.author }}</strong>, a software engineer at
    <a href="https://form3.tech" title="Form3">Form3</a>.
    I enjoy people, stories* and thoughtful discussions.
  </h1>

  <p class="asterisk">
    *who painted this familiar looking
    <a href="https://it.wikipedia.org/wiki/Uomo_col_berretto_rosso" title="Uomo col berretto rosso">Venetian?</a>
  </p>

  <h2 class="latest-heading">Latest</h2>

  <ul class="post-list">
    {% for post in site.posts limit:6 %}
      {% include post-summary.html %}
    {% endfor %}
  </ul>

  <h3 class="page-heading">Not the Josh you expected?</h3>

  <div class="did-you-mean">
    <span>Did you mean:</span>

    <ul>
      <li>
        <a href="https://en.wikipedia.org/wiki/Josh_Hill_(racing_driver)" title="Josh Hill (racing driver)">Josh Hill</a>
        the racing driver, son of Damon Hill
      </li>

      <li>
        <a href="https://en.wikipedia.org/wiki/Josh_Hill_(footballer)" title="Josh Hill (footballer)">Josh Hill</a>
        the professional Aussie rules footballer
      </li>

      <li>
        <a href="https://en.wikipedia.org/wiki/Joshua_Hill_(Pitcairn_Island_leader)" title="Joshua Hill (Pitcairn Island Leader)">Joshua Hill</a>
        the adventurer and Pitcairn Island leader
      </li>
    </ul>
  </div>

</div>
