---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {{ page.date | date: "%-d %B %Y" }}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="related-posts">
    <h2>Share your thoughts</h2>
    <p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="jamesjoshuahill" data-size="large">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>

    <h2>Related</h2>
    <ul>
      {% for post in site.related_posts limit:5 %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="related-category">{{ post.categories.first | capitalize }}</span>
        </li>
      {% endfor %}
    </ul>
  </footer>

</div>
